*{
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    width: 4%;
}
.navbar{
    background-color:blueviolet;
    width: 100vw;
}
.mainpage{
    vertical-align: middle;
}
.nav-link{
    color: rgb(0, 0, 0);
    font-weight:600;
    font-size:18px ;
}
.bgimg{
    background-image: url('/images/bg.jpg');
    height: 90vh;
    width: 100vw;
    /* background-position:; */
    background-size:cover;
    /* background-repeat: no-repeat; */
}   
.d-block{
    aspect-ratio: 3/2;
}
.apara{
    font-size: 20px;
}
.card-title{
    color: blue;
}
.card-text{
    color: rgb(0, 0, 0);
}
.fbgimg{
    background-color: black;
}
.fhead{
    text-decoration:solid #fff;
    color: #fff;
}
.ffour h6{
    color: #fff;
}
.ficons{
    text-align: center;
    padding: 1%;
}
.ficons i{
    color: #fff;
    font-size: 29px;
    padding: 2%;
}
.ficons i:hover{
    color: yellow;
}